/*
laranja: rgb(246,94,0);
cinza-azulado: rgb(13,31,41);
azul-escuro: rgb(1, 17, 23);
*/

* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing:border-box;
}

.top mark {
    background-color: rgb (255, 255, 255, 0);
    color: rgb (246,94,0);
}

.top {
    display: flex;
    flex-direction: row;
    width: 100 %;
}

.top article {
    width: 250 px;
    margin-left: auto;
}

.top figure {
    position: relative;
    width: 450 px;
    margin-right: auto;
}

.top figcaption {
    position: absolute;
    top: 0;
    left: 150 px;
    background-color: rgb (13,31,41);
    border-radius: 5 px;
    color: white;
    padding: 5 px;
}

.div {
    width: 100 %;
    background: rgb (13,31,41);
    padding-left: 330 px;
}

.div ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

.div li {
    padding: 10 px 20 px;
}

.div a {
    text-decoration: none;
    color: white;
}

.div li:hover {
    background-color: rgb (246,94,0);
}

main div {
    width: 300 px;
    padding: 10 px;
    margin: auto;
}

main figure {
    width: 100 %;
    margin-left: 0;
    position: relative;
}

main button {
    background-color: rgb (246,94,0);
    color: white;
}

main figcaption {
    padding: 5 px 5 px 15 px;
    position: absolute;
    background-color: rgb (0, 0, 0, 0.632);
    text-align: center;
    color: white;
    clip-path: polygon (0 % 0 %, 100 % 0 %, 100 % 75 %, 55 % 75 %, 50 % 100 %, 45 % 75 %, 0 % 75 %);
    width: inherit;
    margin-top: -33 px;
}

main img {
    width: inherit;
}

main p {
    font-size: 0.8 em;
}

main {
    display: flex;
    flex-direction: row;
}

footer {
    display: flex;
    flex-direction: row;
    padding: 20 px;
    color: white;
    background-color: rgb (1, 17, 23);
}

footer div {
    margin-left: auto;
    margin-right: auto;
    width: 350 px;
}

footer input {
    background-color: rgb (40, 67, 77, 0.423);
    color: white;
    border-radius: 5 px;
    width: 250 px;
    padding: 10 px;
    margin-top: 10 px;
}

.button {
    background-color: rgb (246,94,0);
    color: white;
    border-radius: 5 px;
    width: 70 px;
    padding: 2 px;
}

footer table {
    background-color: rgb (22, 22, 96, 0.144);
    padding: 10 px 10 px 10 px 10 px;
    text-align: center;
}
