body{
    font-family; Aril, sans-serif;
    margin: 0; 
    padding: 0;
    background-color: #f4f4f4;;
}

header {
    background-color: #009688;
    color: white;
    padding: 15px 0;
    text-align: center;
}

header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li  {
    display: inline;
    margin-right: 15px;
}

header nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main{
    padding: 20px;
}

.cinza {
    background-color: #e0e0e0;
    padding: 30px;
    text-aling: center;
}

h2{
    color: #333;
}

p{
    color: #666;
}

.boxes {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.box h3{
    margin-top: 0;
}
.box a{
    display: inline-block;
    margin-top: 10px;
    color: #009688;
    background-color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
}
 .cards {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.card {
    background-color: #f4f4f4;
    padding: 20px;
    width: 22%;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card a {
    display: block;
    margin-top: 10px;
    color: #009688;
    font-weight: bold;
    text-decoration: none;
}

footer {
    background-color: #009688;
    color: white;
    text-align: center;
    padding: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 15px;
    color: white;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer ul li:last-child {
    margin-right: 0;
}